html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
  }
  
  .full-height {
    height: 100vh;
  }

  .full-height2 {
    height: 250vh;
  }
  
  .flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  .position-ref {
    position: relative;
  }
  
  .top-right {
    position: absolute;
    right: 10px;
    top: 18px;
  }
  
  .content {
    text-align: center;
  }
  
  .links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .m-b-md {
    margin-bottom: 30px;
  }
  
  footer{
    background: #eee;
    padding: 20px;
    text-align: center;
  }
  
  .title {
    font-size: 50px;
    text-transform: uppercase;
    border-bottom: 2px solid;
    padding: 12px 0;
    color: #5e2195;
  }
  
  .topnav {
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: #eee;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999999;
  }
  
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #636b6f;
    color: white;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #ecd0f3;
  }


input[type=text], input[type="email"], select, textarea {
  width: 100%; 
  padding: 12px;
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}

input[type=submit] {
  background-color: #5e2195;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #45a049;
}


.container {
  border-radius: 5px;
  padding: 200px;
}

